@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.ff-lato {
  font-family: "Lato", serif;
}

.ff-montserrat {
  font-family: "Montserrat", serif;
}

.slick-track {
  display: flex !important;
  gap: 30px;
}
.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  z-index: 1;
  cursor: pointer;
}

.custom-prev {
  left: -50px ;
}

.custom-next {
  right: -50px;
}

.swiper-pagination-bullet-active {
  width: 31px !important;
  height: 9px !important;
  border-radius: 24.44px !important;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 41px !important;
}